//Color Primary:
$Dark-Blue:hsl(233, 26%, 24%);
$Lime-Green:hsl(136, 65%, 51%);
$Bright-Cyan:hsl(192, 70%, 51%);

//Color Neutral:
$Grayish-Blue:hsl(233, 8%, 62%);
$Light-Grayish-Blue:hsl(220, 16%, 96%);
$Very-Light-Gray:hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: $Light-Grayish-Blue;
}


.wraper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;

  .card-icon {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100px;
      padding-bottom: 35px;
    }
  
    h3 {
      font-weight: 700;
      font-size: 25px;
      padding-bottom: 20px;
    }

    p {
      color: $Grayish-Blue;
      font-size: 18px;
      text-align: center;
      padding: 5px 15px 30px;
      line-height: 28px;
    }
  }

  .card-article {
    background-color: white;
    width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 15px;

    img {
      width: 100%;
      padding: 5px 10px 35px;
      border-radius: 4% 4% 0 0;
    }

    blockquote {
      color:$Grayish-Blue;
      font-size: 14px;
      padding: 0 35px 15px;
    }

    h5 {
      font-size: 18px;
      padding: 0 35px 15px;
    }

    p {
      color:$Grayish-Blue;
      font-size: 16px;
      padding: 0 35px 15px;
    }
  }
}


.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  background-color: white;
  padding: 25px 0 25px;
}

@media only screen and ( min-width: 1440px ) {
  body {
    background-color: $Light-Grayish-Blue;
  }

  .wraper {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100vw;
    padding-left: 150px;
    padding-right: 150px;
  
    .card-icon {
      width: 100vw;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      background-color: white;
      margin-right: 50px;
    
      img {
        width: 120px;
        padding: 5px 15px 35px;
      }
    
      h3 {
        font-weight: 700;
        font-size: 25px;
        padding: 5px 15px 20px;
      }
  
      p {
        color: $Grayish-Blue;
        font-size: 18px;
        text-align: start;
        padding: 5px 15px 30px;
        line-height: 28px;
      }
    }
  
    .card-article {
      background-color: white;
      width: 100vw;
      height: 450px;
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-top: 20px;
      margin-bottom: 15px;
      margin-right: 10px;
      margin-left: 10px;
  
      img {
        width: 100%;
        padding: 5px 10px 35px;
        border-radius: 4% 4% 0 0;
      }
  
      blockquote {
        color:$Grayish-Blue;
        font-size: 14px;
        padding: 0 35px 15px;
      }
  
      h5{
        font-size: 18px;
        padding: 0 35px 15px;

        &:hover {
          color:$Lime-Green;
          cursor: pointer;
        }
      }
  
      p {
        color:$Grayish-Blue;
        font-size: 16px;
        padding: 0 35px 15px;
      }
    }
  }
  
  
  .title {
    text-align: start;
    font-size: 30px;
    font-weight: 400;
    background-color: white;
    padding: 25px 150px 25px;
  }
}